In [10]:
import pandas as pd
import numpy as np
import operator
import pickle
from collections import Counter
from sklearn.externals import joblib

In [7]:
test_df = pd.read_csv('test.csv')
pid = test_df['PassengerId']
test_df = test_df.drop(['PassengerId','Age','SibSp','Parch','Ticket','Embarked'],axis=1)
test_df.head(5)

   Pclass                                          Name     Sex     Fare Cabin
0       3                              Kelly, Mr. James    male   7.8292   NaN
1       3              Wilkes, Mrs. James (Ellen Needs)  female   7.0000   NaN
2       2                     Myles, Mr. Thomas Francis    male   9.6875   NaN
3       3                              Wirz, Mr. Albert    male   8.6625   NaN
4       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  12.2875   NaN

In [9]:
svm = joblib.load('svm.pkl')
with open('title_map.pkl','rb') as f:
    title_map = pickle.load(f)

UnicodeDecodeError: 'ascii' codec can't decode byte 0xf8 in position 30: ordinal not in range(128)